.about {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.about p {
    color: #aaa;
    margin-bottom: 2em;
}


.new_post_btn {
    border: 1px solid black;
    padding: 15px;
    background-color: black;
    width: 70px;
    color: white;
}
.new_post a {
    text-align: center;
}